## Початкове завантаження бібліотек та набору даних

In [1]:
import pandas as pd
import numpy as np

In [2]:
covid_data = pd.read_csv("Covid-19_data_version_2.csv")

In [3]:
covid_data

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
149479,ZWE,Africa,Zimbabwe,2021-12-19,191673.0,2106.0,3504.714,4782.0,3.0,6.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
149480,ZWE,Africa,Zimbabwe,2021-12-20,195079.0,3406.0,3991.286,4805.0,23.0,9.571,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
149481,ZWE,Africa,Zimbabwe,2021-12-21,197768.0,2689.0,3679.429,4819.0,14.0,11.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
149482,ZWE,Africa,Zimbabwe,2021-12-22,199404.0,1636.0,3102.000,4828.0,9.0,11.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
149483,ZWE,Africa,Zimbabwe,2021-12-23,201344.0,1940.0,2755.286,4855.0,27.0,13.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

## Застосування вбудованих способів доступу

In [4]:
# Вивід стовпця шляхом застосування його назви як атрибуту об’єкта з точковою нотацією
covid_data.iso_code

0         AFG
1         AFG
2         AFG
3         AFG
4         AFG
         ...
149479    ZWE
149480    ZWE
149481    ZWE
149482    ZWE
149483    ZWE
Name: iso_code, Length: 149484, dtype: object

In [5]:
# Вивід стовпця шляхом доступ до стовпця як до елемента словника (ключ - назва стовпця, значенням – Series стовпця)
covid_data['iso_code']

0         AFG
1         AFG
2         AFG
3         AFG
4         AFG
         ...
149479    ZWE
149480    ZWE
149481    ZWE
149482    ZWE
149483    ZWE
Name: iso_code, Length: 149484, dtype: object

In [6]:
# Вивід елемента вибраного стовпця по індексу
covid_data['iso_code'][0]

'AFG'

## Індексно‐орієнтований вибір у бібліотеці Pandas

In [7]:
# Вивід рядка на основі індексу за допомогою індексно‐орієнтованого вибору у бібліотеці Pandas (iloc)
covid_data.iloc[0]

iso_code                                           AFG
continent                                         Asia
location                                   Afghanistan
date                                        2020-02-24
total_cases                                        5.0
                                              ...
human_development_index                          0.511
excess_mortality_cumulative_absolute               NaN
excess_mortality_cumulative                        NaN
excess_mortality                                   NaN
excess_mortality_cumulative_per_million            NaN
Name: 0, Length: 67, dtype: object

In [8]:
# Вивід стовпця на основі індексу за допомогою індексно‐орієнтованого вибору у бібліотеці Pandas (iloc)
covid_data.iloc[:, 0]

0         AFG
1         AFG
2         AFG
3         AFG
4         AFG
         ...
149479    ZWE
149480    ZWE
149481    ZWE
149482    ZWE
149483    ZWE
Name: iso_code, Length: 149484, dtype: object

In [9]:
# Вивід стовпця на основі індексу з одночасною операцією зрізу з елементів стовпця в Series за допомогою індексно‐орієнтованого вибору у бібліотеці Pandas (iloc)
covid_data.iloc[:3, 0]

0    AFG
1    AFG
2    AFG
Name: iso_code, dtype: object

In [10]:
# Вивід стовпця на основі індексу з одночасною операцією зрізу з елементів стовпця в Series за допомогою індексно‐орієнтованого вибору у бібліотеці Pandas (iloc)
covid_data.iloc[1:4, 0]

1    AFG
2    AFG
3    AFG
Name: iso_code, dtype: object

In [11]:
# Вивід стовпця на основі індексу з одночасною операцією зрізу з елементів стовпця в Series за допомогою індексно‐орієнтованого вибору у бібліотеці Pandas (iloc)
covid_data.iloc[1:5:2, 0]

1    AFG
3    AFG
Name: iso_code, dtype: object

In [12]:
# Вивід зрізу рядків за допомогою індексно‐орієнтованого вибору у бібліотеці Pandas (iloc)
covid_data.iloc[:3]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN

In [13]:
# Вивід зрізу рядків з кінця набору даних з використанням від’ємного індексу за допомогою індексно‐орієнтованого вибору у бібліотеці Pandas (iloc)
covid_data.iloc[-3:]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
149481,ZWE,Africa,Zimbabwe,2021-12-21,197768.0,2689.0,3679.429,4819.0,14.0,11.286,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
149482,ZWE,Africa,Zimbabwe,2021-12-22,199404.0,1636.0,3102.000,4828.0,9.0,11.857,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
149483,ZWE,Africa,Zimbabwe,2021-12-23,201344.0,1940.0,2755.286,4855.0,27.0,13.714,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

## Мітко‐орієнтований вибір в бібліотеці Pandas

In [14]:
# Вивід стовпця заданого по імені по індексу елемента за допомогою мітко‐орієнтований вибір в бібліотеці Pandas (loc)
covid_data.loc[0, 'iso_code']

'AFG'

In [15]:
# Вивід підмножини стовпців, імена яких задані списком за допомогою мітко‐орієнтований вибір в бібліотеці Pandas (loc)
covid_data.loc[:, ['location','date', 'total_cases']]

           location        date  total_cases
0       Afghanistan  2020-02-24          5.0
1       Afghanistan  2020-02-25          5.0
2       Afghanistan  2020-02-26          5.0
3       Afghanistan  2020-02-27          5.0
4       Afghanistan  2020-02-28          5.0
...             ...         ...          ...
149479     Zimbabwe  2021-12-19     191673.0
149480     Zimbabwe  2021-12-20     195079.0
149481     Zimbabwe  2021-12-21     197768.0
149482     Zimbabwe  2021-12-22     199404.0
149483     Zimbabwe  2021-12-23     201344.0

[149484 rows x 3 columns]

In [16]:
# Вивід перших 3 рядків з підмножини стовпців, імена яких задані списком за допомогою мітко‐орієнтований вибір в бібліотеці Pandas (loc)
covid_data.loc[:2 , ['location','date', 'total_cases']]

      location        date  total_cases
0  Afghanistan  2020-02-24          5.0
1  Afghanistan  2020-02-25          5.0
2  Afghanistan  2020-02-26          5.0

In [17]:
# Вивід рядків з кроком у заданому діапазоні з підмножини стовпців, імена яких задані списком за допомогою мітко‐орієнтований вибір в бібліотеці Pandas (loc)
covid_data.loc[1:100:14 , ['location','date', 'total_cases']]

       location        date  total_cases
1   Afghanistan  2020-02-25          5.0
15  Afghanistan  2020-03-10          8.0
29  Afghanistan  2020-03-24         42.0
43  Afghanistan  2020-04-07        367.0
57  Afghanistan  2020-04-21       1026.0
71  Afghanistan  2020-05-05       2469.0
85  Afghanistan  2020-05-19       7655.0
99  Afghanistan  2020-06-02      16578.0

## Маніпулювання індексом

In [18]:
# Зміна індексу
covid_data.set_index('iso_code')

,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,total_cases_per_million,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
iso_code,,,,,,,,,,,,,,,,,,,,,
AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,0.126,...,NaN,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZWE,Africa,Zimbabwe,2021-12-19,191673.0,2106.0,3504.714,4782.0,3.0,6.286,12700.161,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2021-12-20,195079.0,3406.0,3991.286,4805.0,23.0,9.571,12925.841,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2021-12-21,197768.0,2689.0,3679.429,4819.0,14.0,11.286,13104.013,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2021-12-22,199404.0,1636.0,3102.000,4828.0,9.0,11.857,13212.413,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN
ZWE,Africa,Zimbabwe,2021-12-23,201344.0,1940.0,2755.286,4855.0,27.0,13.714,13340.957,...,1.6,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN

## Умовний вибір

In [19]:
# Вивід даних, де кількість лікарняних ліжок на тисячу осіб більша за середню
hospital_beds_per_thousand_mean=covid_data.hospital_beds_per_thousand.mean()
covid_data.loc[covid_data.hospital_beds_per_thousand>hospital_beds_per_thousand_mean]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
4627,ATG,North America,Antigua and Barbuda,2020-03-13,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4628,ATG,North America,Antigua and Barbuda,2020-03-14,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4629,ATG,North America,Antigua and Barbuda,2020-03-15,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4630,ATG,North America,Antigua and Barbuda,2020-03-16,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4631,ATG,North America,Antigua and Barbuda,2020-03-17,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144015,UZB,Asia,Uzbekistan,2021-12-19,197074.0,174.0,189.571,1458.0,2.0,3.143,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144016,UZB,Asia,Uzbekistan,2021-12-20,197268.0,194.0,187.143,1461.0,3.0,3.000,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144017,UZB,Asia,Uzbekistan,2021-12-21,197392.0,124.0,185.429,1465.0,4.0,3.286,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144018,UZB,Asia,Uzbekistan,2021-12-22,197566.0,174.0,180.429,1468.0,3.0,3.286,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144019,UZB,Asia,Uzbekistan,2021-12-23,197753.0,187.0,175.857,1471.0,3.0,3.143,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN

In [20]:
# Вивід даних, де кількість лікарняних ліжок на тисячу осіб більша за середню і кількість загальна захворювань менша за середню
total_cases_mean=covid_data.total_cases.mean()
covid_data.loc[(covid_data.hospital_beds_per_thousand>hospital_beds_per_thousand_mean) & (covid_data.total_cases<total_cases_mean)]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
4627,ATG,North America,Antigua and Barbuda,2020-03-13,1.0,1.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4628,ATG,North America,Antigua and Barbuda,2020-03-14,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4629,ATG,North America,Antigua and Barbuda,2020-03-15,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4630,ATG,North America,Antigua and Barbuda,2020-03-16,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
4631,ATG,North America,Antigua and Barbuda,2020-03-17,1.0,0.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.8,77.02,0.778,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144015,UZB,Asia,Uzbekistan,2021-12-19,197074.0,174.0,189.571,1458.0,2.0,3.143,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144016,UZB,Asia,Uzbekistan,2021-12-20,197268.0,194.0,187.143,1461.0,3.0,3.000,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144017,UZB,Asia,Uzbekistan,2021-12-21,197392.0,124.0,185.429,1465.0,4.0,3.286,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144018,UZB,Asia,Uzbekistan,2021-12-22,197566.0,174.0,180.429,1468.0,3.0,3.286,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN
144019,UZB,Asia,Uzbekistan,2021-12-23,197753.0,187.0,175.857,1471.0,3.0,3.143,...,1.3,24.7,NaN,4.0,71.72,0.720,NaN,NaN,NaN,NaN

In [21]:
# Вивід даних по Україні за допомогою «is in» який дозволяє вибирати дані, значення яких є у списку значень
covid_data.loc[covid_data.location.isin(['Ukraine'])]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
139267,UKR,Europe,Ukraine,2020-03-03,1.0,1.0,NaN,NaN,NaN,NaN,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139268,UKR,Europe,Ukraine,2020-03-04,1.0,0.0,NaN,NaN,NaN,NaN,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139269,UKR,Europe,Ukraine,2020-03-05,1.0,0.0,NaN,NaN,NaN,NaN,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139270,UKR,Europe,Ukraine,2020-03-06,1.0,0.0,NaN,NaN,NaN,NaN,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139271,UKR,Europe,Ukraine,2020-03-07,1.0,0.0,NaN,NaN,NaN,NaN,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139923,UKR,Europe,Ukraine,2021-12-19,3785395.0,3889.0,7346.857,98972.0,203.0,325.286,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139924,UKR,Europe,Ukraine,2021-12-20,3788209.0,2814.0,7117.000,99153.0,181.0,320.429,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139925,UKR,Europe,Ukraine,2021-12-21,3794490.0,6281.0,6912.000,99528.0,375.0,314.286,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139926,UKR,Europe,Ukraine,2021-12-22,3801079.0,6589.0,6644.571,99856.0,328.0,306.000,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN
139927,UKR,Europe,Ukraine,2021-12-23,3808612.0,7533.0,6303.857,100159.0,303.0,294.571,...,13.5,47.4,NaN,8.8,72.06,0.779,NaN,NaN,NaN,NaN

In [22]:
# Вивід даних за 2020-02-24 та за 2021-02-24 для порівняння за допомогою «is in» який дозволяє вибирати дані, значення яких є у списку значень
covid_data.loc[covid_data.date.isin(['2020-02-24', '2021-02-24'])]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
366,AFG,Asia,Afghanistan,2021-02-24,55664.0,18.0,17.714,2436.0,1.0,1.143,...,NaN,NaN,37.746,0.500,64.83,0.511,NaN,NaN,NaN,NaN
680,OWID_AFR,NaN,Africa,2020-02-24,1.0,0.0,0.000,NaN,0.0,0.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1046,OWID_AFR,NaN,Africa,2021-02-24,3856590.0,10479.0,10199.857,102468.0,326.0,379.429,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1714,ALB,Europe,Albania,2021-02-24,103327.0,1021.0,1085.857,1715.0,19.0,16.429,...,7.100,51.200,NaN,2.890,78.57,0.795,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146902,OWID_WRL,NaN,World,2020-02-24,79550.0,568.0,897.143,2630.0,160.0,108.857,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
147268,OWID_WRL,NaN,World,2021-02-24,112940195.0,446950.0,378746.429,2573148.0,12525.0,10074.571,...,6.434,34.635,60.130,2.705,72.58,0.737,NaN,NaN,NaN,NaN
147891,YEM,Asia,Yemen,2021-02-24,2221.0,34.0,10.000,624.0,4.0,0.857,...,7.600,29.200,49.542,0.700,66.12,0.470,NaN,NaN,NaN,NaN
148537,ZMB,Africa,Zambia,2021-02-24,76484.0,902.0,686.714,1051.0,11.0,9.714,...,3.100,24.700,13.938,2.000,63.89,0.584,NaN,NaN,NaN,NaN
149181,ZWE,Africa,Zimbabwe,2021-02-24,35960.0,50.0,76.714,1456.0,8.0,5.429,...,1.600,30.700,36.791,1.700,61.49,0.571,NaN,NaN,NaN,NaN

In [23]:
# Вивід порожніх даних по стовпцю «total_cases» за допомогою «isnull» який дозволяє виділити значення, які є порожніми (NaN)
covid_data.loc[covid_data.total_cases.isnull()]

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
669,OWID_AFR,NaN,Africa,2020-02-13,NaN,0.0,NaN,NaN,0.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1349,ALB,Europe,Albania,2020-02-25,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
1350,ALB,Europe,Albania,2020-02-26,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
1351,ALB,Europe,Albania,2020-02-27,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
1352,ALB,Europe,Albania,2020-02-28,NaN,NaN,NaN,NaN,NaN,NaN,...,7.1,51.2,NaN,2.89,78.57,0.795,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138619,TUV,Oceania,Tuvalu,2021-10-18,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
138620,TUV,Oceania,Tuvalu,2021-10-19,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
138621,TUV,Oceania,Tuvalu,2021-10-20,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
138622,TUV,Oceania,Tuvalu,2021-10-21,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN
138623,TUV,Oceania,Tuvalu,2021-10-22,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,67.57,NaN,NaN,NaN,NaN,NaN

## Редагування даних

In [24]:
# Присвоєння значення елементам DataFrame (створення нового стовпця та заповненння його 'some_data')
covid_data['new_data'] = 'some_data'
covid_data['new_data']

0         some_data
1         some_data
2         some_data
3         some_data
4         some_data
            ...
149479    some_data
149480    some_data
149481    some_data
149482    some_data
149483    some_data
Name: new_data, Length: 149484, dtype: object

In [25]:
# Присвоєння значення елементам DataFrame (створення нового стовпця у вигляді зворотнього індексу)
covid_data['reverse_index'] = range(len(covid_data), 0, -1)
covid_data['reverse_index']

0         149484
1         149483
2         149482
3         149481
4         149480
           ...
149479         5
149480         4
149481         3
149482         2
149483         1
Name: reverse_index, Length: 149484, dtype: int64

In [26]:
# Зміна індексу на зворотній
covid_data.set_index('reverse_index')

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million,new_data
reverse_index,,,,,,,,,,,,,,,,,,,,,
149484,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,some_data
149483,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,some_data
149482,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,some_data
149481,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,some_data
149480,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,NaN,NaN,NaN,...,NaN,37.746,0.5,64.83,0.511,NaN,NaN,NaN,NaN,some_data
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,ZWE,Africa,Zimbabwe,2021-12-19,191673.0,2106.0,3504.714,4782.0,3.0,6.286,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,some_data
4,ZWE,Africa,Zimbabwe,2021-12-20,195079.0,3406.0,3991.286,4805.0,23.0,9.571,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,some_data
3,ZWE,Africa,Zimbabwe,2021-12-21,197768.0,2689.0,3679.429,4819.0,14.0,11.286,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,some_data
2,ZWE,Africa,Zimbabwe,2021-12-22,199404.0,1636.0,3102.000,4828.0,9.0,11.857,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,some_data
1,ZWE,Africa,Zimbabwe,2021-12-23,201344.0,1940.0,2755.286,4855.0,27.0,13.714,...,30.7,36.791,1.7,61.49,0.571,NaN,NaN,NaN,NaN,some_data